In [6]:
import seaborn as sns 
df = sns.load_dataset('tips')
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [8]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [9]:
df = pd.DataFrame({
    'sex': ['Male','Female'],
    'smoker': ['Yes','No'],
    
})

In [10]:
df.head()

      sex smoker
0    Male    Yes
1  Female     No

In [11]:
encoder = OneHotEncoder()

In [12]:
encoded = encoder.fit_transform(df[['sex','smoker']]).toarray()

In [13]:
import pandas as pd
encoder_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [14]:
encoder_df

   sex_Female  sex_Male  smoker_No  smoker_Yes
0         0.0       1.0        0.0         1.0
1         1.0       0.0        1.0         0.0