It is the process of converting categorical value into a numerical  meaningful value

1.Nominal/OHE Encoding

We should we use when there are no many featues.
Because each category represent binary and also when we have so many 0 ,1 matrix it also cause Sparse Matrix an it lead to overfitting

In [1]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [2]:
##Create a data frame
df = pd.DataFrame({
    'color': ['red','blue','green','green','blue','red']
})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3  green
4   blue

In [4]:
##create an instance of onehotencoder

encoder = OneHotEncoder()

In [8]:
# Perform fit and then transform 
encoded = encoder.fit_transform(df[['color']]).toarray()

In [9]:
import pandas as pd
encoder_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [10]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         1.0          0.0        0.0
5         0.0          0.0        1.0

In [11]:
encoder.transform([['blue']]).toarray()

/Users/abhishekprakash/Desktop/code/venv/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [12]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4   blue         1.0          0.0        0.0
5    red         0.0          0.0        1.0